@theme {
  --breakpoint-large: 968px;

  --spacing-space-0: 0px;
  --spacing-space-012: 1px;
  --spacing-space-025: 2px;
  --spacing-space-050: 4px;
  --spacing-space-075: 6px;
  --spacing-space-100: 8px;
  --spacing-space-125: 10px;
  --spacing-space-150: 12px;
  --spacing-space-175: 14px;
  --spacing-space-187: 15px;
  --spacing-space-200: 16px;
  --spacing-space-225: 18px;
  --spacing-space-250: 20px;
  --spacing-space-275: 22px;
  --spacing-space-300: 24px;
  --spacing-space-350: 28px;
  --spacing-space-400: 32px;
  --spacing-space-438: 35px;
  --spacing-space-450: 36px;
  --spacing-space-500: 40px;
  --spacing-space-550: 44px;
  --spacing-space-600: 48px;
  --spacing-space-650: 52px;
  --spacing-space-700: 56px;
  --spacing-space-800: 64px;
  --spacing-space-875: 70px;
  --spacing-space-900: 72px;
  --spacing-space-1000: 80px;
  --spacing-space-1075: 86px;
  --spacing-space-1100: 88px;
  --spacing-space-1200: 96px;
  --spacing-space-1350: 108px;
  --spacing-space-1400: 112px;
  --spacing-space-1500: 120px;
  --spacing-space-1600: 128px;
  --spacing-space-1700: 136px;
  --spacing-space-1750: 140px;
  --spacing-space-1950: 156px;
  --spacing-space-2000: 160px;
  --spacing-space-2300: 184px;
  --spacing-space-2400: 192px;
  --spacing-space-2500: 200px;
  --spacing-space-2575: 206px;
  --spacing-space-3000: 240px;
  --spacing-space-3200: 256px;
  --spacing-space-3500: 280px;
  --spacing-space-3650: 292px;
  --spacing-space-3750: 300px;
  --spacing-space-4000: 320px;
  --spacing-space-4200: 336px;
  --spacing-space-4250: 340px;
  --spacing-space-4300: 344px;
  --spacing-space-4500: 360px;
  --spacing-space-4800: 384px;
  --spacing-space-5000: 400px;
  --spacing-space-5200: 416px;
  --spacing-space-5500: 440px;
  --spacing-space-6000: 480px;
  --spacing-space-6400: 512px;
  --spacing-space-7100: 568px;
  --spacing-space-7500: 600px;
  --spacing-space-8000: 640px;
  --spacing-space-9600: 768px;
  --spacing-space-11000: 880;
  --spacing-space-12_800: 1024px;
  --spacing-space-14_400: 1152px;
  --spacing-space-15_000: 1200px;
  --spacing-space-17_300: 1384px;
  --spacing-space-18_000: 1440px;
  --spacing-space-20_000: 1600px;
}